asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
Django==5.0.6
django-admin-decorators==0.1
django-admin-list-filter-dropdown==1.0.3
django-ckeditor==6.7.1
django-filter==24.3
django-js-asset==2.2.0
django-render-partial==0.4
djangorestframework==3.15.2
idna==3.7
kavenegar==1.1.2
mysql-connector-python==8.4.0
pillow==10.4.0
requests==2.32.3
sqlparse==0.5.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
